<link rel="import" href="../bower_components/ujiro-card/ujiro-card.html">
<polymer-element name="image-card" constructor="ImageCard">
  <template>
    <style>
      .image-card {
        left: 50%;
      }
      .card {
        padding: 10px;
        background-color: #FFFFFF;
        margin: 10px;
      }

      .meme-label {
        line-height: 40px;
      }
      .meme-btn {
        float: right;
      }

      ujiro-card {
        margin: 4px;
      }

      .meme-btn::shadow #ripple {
        color: blue;
      }
    </style>
    <ujiro-card>
      <div class="media">
        <img id='image' class="image-card" src="{{image}}" />
      </div>
      <div class="text">
        <paper-item id='title' class="meme-label"></paper-item>
        <paper-icon-button class="meme-btn" on-tap="{{makeMeme}}" icon="add"></paper-icon-button>
      </div>
    </ujiro-card>
  </template>
  <script>
    Polymer('image-card', {
      ready: function() {
        this.imageSrc = this.getAttribute('image');
        this.label = this.getAttribute('label');
        if (this.imageSrc) {
          // Set image
          this.setImageSrc(this.imageSrc);
        }
      },
      setImageSrc: function(src) {
        this.$.image.src = src;
        this.checkDimensions();
      },
      checkDimensions: function(){
        // Figure out which is the longest dimension
        // Repetitively scale down until the longest dimension is
        // under 450px
        var isWidthGreater = this.$.image.width > this.$.image.height;
        if (isWidthGreater) {
          while(this.$.image.width > 450) {
            this.$.image.width /= 2;
          }
        } else {
          while(this.$.image.height > 450) {
            this.$.image.height /= 2;
          }
        }
      },
      setTitle: function(l) {
        this.$.title.innerText = l;
      },
      makeMeme: function () {
        var app = document.querySelector('meme-app').$;
        app.toast1.show();

        // Send image to meme-dialog
        app.dialog.show(this.$.image.src, this.$.title.innerText);
      }
    });
  </script>
</polymer-element>
